@model MyWorkout.Web.Data.Entity.WorkoutDay



@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WorkoutDay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MuscleGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MuscleGroup)
        </dd>
    </dl>
</div>
<p>
    <a asp-controller="Exercises" asp-action="CreateFromDayOfWeek" asp-route-Id="@Model.Id">Create New Exersise </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan.WorkoutDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Exercises)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
